<!DOCTYPE html>
<html>
<head>
    <title>Carnaval</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="{{page}}">
<canvas id="particles"></canvas>
<div class="energy-bg"></div>

<div class="side-text left">
    G<br>E<br>N<br>D<br>E<br>R
</div>

<div class="side-text right">
    B<br>R<br>E<br>I<br>Z<br>H
</div>

<div class="container">

    <nav class="menu">
        <a href="/" class="{% if page == 'taches' %}active{% endif %}">📋 Tâches</a>
        <a href="/fournitures" class="{% if page == 'fournitures' %}active{% endif %}">📦 Fournitures</a>
    </nav>

    {% block content %}{% endblock %}

</div>

</body>


</html>